.hentry
  %h3.entry-title{:id=>"post_#{ post.id}"}
    = link_to post.title, user_post_path(post.user, post), :rel => 'bookmark'
  By:
  .fn=link_to post.user.login, user_path(post.user)
  %table
    %tr
      %td
        %h4
          %a{:href=>"#{user_post_path(post.user, post)}", :class=>"photo", :rel=>"bookmark"}
            =image_tag((post.first_image_in_body || post.user.avatar_photo_url(:thumb)), :alt=>"", :width=>"75", :height=>"75")
      %td      
        .update
          %a{:href=>"#{user_post_path(post.user, post)}", :rel=>"bookmark"}
          %abbr.published{:title=>"#{post.published_at}"}= post.published_at_display("%B %d, %Y")
        .view
          = :views.l
          = "(#{post.view_count})"
        .comments
          = link_to :comments.l+" (#{post.comments.count})", user_post_path(post.user, post)+'#comments'      
          - if current_user and current_user.can_request_friendship_with(post.user)
            .addfriend= add_friend_link(post.user)

  .entry-content
    = truncate_words(post.post, 75, '...' )
    
  = render :partial => 'polls/excerpt', :locals => {:poll => post.poll} if post.poll
    
  %h6=link_to :read_more.l, user_post_path(post.user, post), :rel=> 'bookmark'
  